@import '../../variables.scss';

.searchRow {
  display: flex;
  justify-content: center;

  form {
    height: 50px;
    input {
      height: 100%;
      max-width: 750px;
      width: 50%;
      outline:none;
    }
    button {
      width: 50%;
    }
  }
}

.rounded {
  border-radius: 5px;
}
