@import '../../variables.scss';

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: url('flower-banner.png');
  background-color: $primaryColor;
  height: 500px;

  .banner-text {
    width: 50%;
    justify-content: center;
    font-size: 40px;
  }
}
